.service {
    
    padding: 40px;
    background-color: rosybrown;
    margin-bottom: 20px;
    border-radius: 15px;
}

.gold {
    border: 3px solid gold;
    margin-top: 30px;
}

.silver {
    border: 3px solid silver;
}

.brown {
    border: 3px solid rgb(100, 35, 35);
}
