.footer {
    height: 100px;
    max-width: 100%;
    background-color: #232323;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.footerIcon {
    width: 30px;
    height: 30px;
    margin: 10px;
}