.navigation {
    display: flex;
    justify-content: space-between;
    border: 0 0 2px 0 solid #ccc, 0.2;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: #ffffff;
}

.navLi {
    display: inline-block;
    margin-right: 20px;
}


.navLi a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.4s;
    font-weight: 700;
    line-height: 20px;
    &:hover {
        color: #1104d1;
        border-bottom: 3px solid#1104d1;
    }
}       

 .logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: 900;
}

.logoSpanFirst {
    letter-spacing: 3px;
    color:#1104d1;
    font-family: 'Allison', cursive;
    font-weight: bold;
    font-size: 2.1em;
}

.logoSpanSecond {
    letter-spacing: 0.1;
    color: black;
}

.icon {
    max-width: 30px;
    max-height: 30px;
}



