.newsletter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.newsletterContainer {
    position: relative;
}

.newsletterHeader {
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
}

.newsletterInput {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
    color: #cf1d22;
    outline: none;
}

.newsletterButton {
    background-image: linear-gradient(to right, #eb3349 0%, #f45c43 51%, #eb3349 100%);
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    &:hover {
        background-position: right center;
    }
}

.newsletterMessage {
    position: relative;
    padding: 0.4rem;
    margin: 0.5rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(0, 255, 0, 0.1);
    backdrop-filter: blur(10px);
}

.form {
    position: relative;
    padding: 3rem;
    min-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 30px #333;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    backdrop-filter: blur(10px);
}